body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

div.hero-bg + div.margin-top {
    margin-top: 35px;
}

div.container + div.margin-bottom {
    margin-bottom: 20px;
}

/* Hero */

.hero-bg {
    background-color: #333;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center
}

.hero-text img {
    max-width: 150px;
    border-radius: 50%;
}

.hero-text div {
    text-align: left;
    display: none;
}

.hero-bg + .container {
    margin-top: 20px;
}

/* Larger than mobile */
@media (min-width: 400px) {
    .hero-text img {
        margin-right: 10px
    }
    .hero-text div {
        text-align: left;
        display: block;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .hero-text img {
        max-width: 200px;
    }
}

/* Pagination */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #333;
    color: white;
}

a.mobile-hide {
    display: none;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a.pagination-disabled:hover {
    background-color: unset;
}

/* Larger than mobile */
@media (min-width: 400px) {
    a.mobile-hide {
        display: block;
    }
}

/* Podcast Episodes */

.episode {
    margin-bottom: 15px;
}

.episode-date {
    text-align: center;
    font-weight: bold;
    color: #7d7d7d;
    margin-bottom: 10px;
}

.episode-title {
    text-align: left;
}

.episode-title h2 {
    font-size: 3.0rem;
}

/* HTML5 audio player */
.episode-audio {
    width: 100%;
}

/* Green Audio Player */
div.gap {
    width: 100%;
    background-color: #eaeaea;
    box-shadow: none;
    margin-bottom: 10px;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .episode-title {
        text-align: right;
    }
}

/* Footer */

footer {
    text-align: center;
    color: #555;
    font-size: 0.7em;
    margin-bottom: 1em;
}

footer a {
    text-decoration: none;
    color: #555;
}

footer a:hover {
    color: #005eff;
}
