# Copy and rename this file to ./rss.local.yaml
config:
  # Feed type: 1 == Podcast, 0 == generic
  # Rss site generator works best with podcast feeds
  type: 1
  # Enable child theme 0 == disabled, 1 == enabled
  # Copy templates/rss_feed/ to templates/rss_feed_child/
  # Adjust child theme
  child_theme: 0
  # RSS Data field of description: 1 == content, 0 == description
  # The field description is usually shorter and does not contain HTML tags
  description:
    use_content: 1
  # Url of podcast/blog rss feed
  rss_feed_url: ''
  # Possible values: https://twig.symfony.com/doc/2.x/filters/date.html
  date_format: 'Y-m-d'
  # Used to calculate the duration of a audio file
  bitrate_kbps: 192
  # How many items are displayed per page
  item_limit: 10
content:
  # File name of custom header image, place in /public/image
  logo: ''
  # File name of custom favicon image, place in /public/image
  favicon: ''
  header:
    # Overwrites the feed title of the header
    title: ''
    # Overwrites the feed description of the header
    description: ''
    # Overwrites the background color of the header (Hex code e.g. #333)
    background_color: ''
    # Overwrites the font color of the header (Hex code e.g. #333)
    font_color: ''
  footer:
    # Displayed in footer
    copyright: ''
    # Rendered in footer, should include http:// or https://
    imprint_url: ''
    # Displayed in footer
    imprint_link_name: ''
  # Url to original website
  canonical_link: ''
  messages:
    # Displayed if feed could not be fetched
    feed_error: 'No valid rss feed was supplied.'
    # Displayed if no results were found
    no_results: 'No results found.'

# Important: most of the items have fallbacks in the code
