<footer>
    © {{ "now"|date("Y") }} {{ rssConfig.copyright}} {% if rssConfig.imprintUrl %}| <a target="_blank" href="{{ rssConfig.imprintUrl }}">{{ rssConfig.imprintLinkName }}</a>{% endif %}
</footer>
