<footer>
    © {{ "now"|date("Y") }} {{ user.content.footer.copyright}} {% if user.content.footer.imprint_url %}| <a target="_blank" href="{{ user.content.footer.imprint_url }}">{{ user.content.footer.imprint_link_name }}</a>{% endif %}
</footer>
