<footer>
    © {{ "now"|date("Y") }} {{ user.legal.copyright}} {% if user.legal.imprint_url %}| <a target="_blank" href="{{ user.legal.imprint_url }}">{{ user.legal.imprint_link_name }}</a>{% endif %}
</footer>
