{% block hero %}
    {% if logo %}
        {% set image = asset('image/' ~ logo) %}
    {% else %}
        {% set image = hero.image %}
    {% endif %}
    <div class="hero-bg">
        <div class="hero-text">
            {% if hero.image %}
            <img alt="{{ hero.title }}" src="{{ image }}">
            {% endif %}
            <div>
                {% if hero.title %}
                <h1>{{ hero.title }}</h1>
                {% endif %}
                {% if hero.description %}
                <p>{{ hero.description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
