{% block hero %}
    {% if logo %}
        {% set image = asset('image/' ~ logo) %}
    {% else %}
        {% set image = feed.image %}
    {% endif %}
    <div class="hero-bg">
        <div class="hero-text">
            {% if image %}
                <div class="fade-in">
                    <img alt="{{ feed.title }}" src="{{ image }}">
                </div>
            {% endif %}
            <div>
                {% if feed.title %}
                <h1>{{ feed.title }}</h1>
                {% endif %}
                {% if feed.description %}
                <p>{{ feed.description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
