{% extends 'rss_feed/feed_site.html.twig' %}

{% set hero = {
    'title': '',
    'description': '',
    'image': asset('image/error.jpg')} %}

{% block title %}Ooops, an error occurred...{% endblock %}

    {% block hero %}
        {{ include('rss_feed/_hero.html.twig', {hero: hero, logo: user.content.logo}) }}
    {% endblock %}

{% block feed_contents %}
    <div class="row">
        <div class="twelve column">
            <h1>Nothing to see!</h1>
        </div>
        <div class="row">
            <div class="twelve column">
                <h2>
                    {% if user.content.messages.feed_error %}
                        {{ user.content.messages.feed_error }}
                    {% else %}
                        Just return to the <a href="{{ path('episodes') }}">homepage</a>.
                    {% endif %}
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
