{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="one-half column">
                {% block feed_contents %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
