{% extends 'base.html.twig' %}

{% block body %}
    {% block hero %}{% endblock %}
    <div class="container margin-top">
        {% block feed_contents %}{% endblock %}
    </div>
    <div class="container margin-bottom">
        {% block pagination %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
{% endblock %}
