{% extends 'base.html.twig' %}

{% block body %}
    {% block hero %}{% endblock %}
    <div class="margin-top"
         id="feed-content">
        {% block feed_contents %}{% endblock %}
        {% block pagination %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
{% endblock %}
