{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% set feed = {
    'title': '',
    'description': '',
    'image': asset('image/error.jpg')} %}

{% block title %}Ooops, an error occurred...{% endblock %}

{% block body %}
    {% block hero %}
        {{ include('rss_feed/_hero.html.twig', {feed: feed, logo: rssConfig.logo}) }}
    {% endblock %}
    <div class="container margin-top">
        <div class="row episode">
            <div class="twelve column">
                <h1>Nothing to see!</h1>

                <h2> Just return to the <a href="{{ path('episodes') }}">homepage</a>.
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
